<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>发生错误</title>
</head>
<body>
<h1 style="color:orangered;">发生错误:</h1>
<strong style="color: lightseagreen">错误信息：</strong>${exception}
<br/>
<strong style="color: lightseagreen">请求URL地址：</strong>${url}
</body>
</html>